body{
    margin: 0;
    padding: 0;
    background-color: rgb(13, 231, 148);
}
#H{
    margin-left: 35%;
    margin-top: 10%;
   
    
}
#tri1{
  width: 0;
  height: 0;
  border-width: 0 210px 160px 210px;
  border-color: transparent transparent red transparent;
  border-style: solid;
  position: absolute;
  z-index: 3;
 
 }
#tri2{
  width: 0;
  height: 0;
  top: 230px;
  border-width: 0 210px 160px 210px;
  border-color: transparent transparent green transparent;
  border-style: solid;
  position: absolute;
  z-index: 2;
}
#tri3{
  width: 0;
  height: 0;
  top: 310px;
  border-width: 0 210px 160px 210px;
  border-color: transparent transparent blue transparent;
  border-style: solid;
  position: absolute;
  z-index: 1;
}